AEGIS_FLASK_SECRET_KEY=your_secret_key
AEGIS_FLASK_DEBUG=false
AEGIS_FLASK_ENV=production
AEGIS_FLASK_PORT=5001
AEGIS_MYSQL_HOST=127.0.0.1
AEGIS_MYSQL_USER=user
AEGIS_MYSQL_PASSWORD=password
AEGIS_MYSQL_DATABASE=smartswap
AEGIS_MYSQL_PORT=3306
AEGIS_CORS_ORIGINS=http://localhost:5001
AEGIS_DISABLE_REGISTERS=false